{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <title>Login</title>
</head>
<body>
     <h1 align="center" style="color:DarkRed;">LOGIN HERE</h1>
     <form align="center" method="post" action="login">
         <br><br>
       {% csrf_token %}
       USERNAME  :  <input type="text" name="username" placeholder="Enter your username"><br><br>
       PASSWORD  :  <input type="password" name="password" placeholder="Enter your password"><br><br>
       <button><a href="{% url 'college_app:fillform' %}">SUBMIT</a></button>&nbsp;&nbsp;&nbsp;
       <a href="{% url 'college_app:register' %}">REGISTER</a>
     </form>
</body>
</html>